/* nav bar styles */
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-brand {
	font-size: 2.5em;
 	font-weight: bold;
}

 #nav-list {
  background: #797777;
  margin-top: 10px;
  margin-bottom: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
  border : solid 1px black;
}

#nav-list a:hover {
  background: #F1F4F5;
}

#nav-list a span {
  font-size: 1.8em;
}

/* main container styles */
.container {
  margin-bottom: 10px;
}

.main-content-row {
  position: relative;
	height: 1000px; 
	margin-top: 10px;
	background: #E7E7E7;
}

.main-content-row a {
	position:absolute;
	bottom: 0;
	right: 0;
  font-size: 1em;
  font-weight: bold;
  color: #111111;
}
